*{
    box-sizing: border-box;
}
.loans-list{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.listing{
    margin-top: 60px;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: space-between;
    flex-direction: column;
}
.loan-item{
    margin: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}