*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
.wallpaper{
    background-image: url('../public/home.jpeg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.dark-tint {
    background-color: rgba(65, 65, 65, 0.753);
    background-blend-mode: multiply;
}
.home-wrapper{
    margin-top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.user-card{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.report{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.loan-card{
    width: 90%;
    height: 53%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.status-bar{
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
@media (max-width: 950px) {
    .home-wrapper{
        flex-direction: column;
    }
}
@media (max-width: 600px) {
    
}