*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
.home-wrapper{
    height: 100vh;
    margin-top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.user-card{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.report{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.loan-card{
    display: flex;
    justify-content: space-between;
    align-items: center;
}